{% extends "base.html.twig" %}

{% block body %}

    <h3>Liste des {{ type }}s</h3>

    <div class="alert alert-info" role="alert">
        <strong>{{ count }}</strong> {{ type }} <br />
        <a href="{{ path('structures_import') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Mettre à jour</a>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-sm table-hover">
                <tbody>
                {% for structure in structures %}
                    <tr>
                        <td>{{ structure.noClient }}</td>
                        <td>{{ structure.compte }}</td>
                        <td>{{ structure.libelle }}</td>
                        <td><a href="mailto:{{ structure.preferedEmailaddress }}">{{ structure.preferedEmailaddress }}</a></td>
                        <td>{{ structure.address|raw }} <br />
                            {{ structure.ZipCode }} {{ structure.Town }}</td>
                        <td>
                            {% if structure.president is not null %}
                                <a href="mailto:{{ structure.president.email }}">{{ structure.president.email }}</a>
                            {% endif %}
                            <br/>
                            {% if structure.treasurer is not null %}
                                <a href="mailto:{{ structure.treasurer.email }}">{{ structure.treasurer.email }}</a>
                            {% endif %}
                            <br/>
                            {% if structure.secretary is not null %}
                                <a href="mailto:{{ structure.secretary.email }}">{{ structure.secretary.email }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}