@import '~bootstrap/dist/css/bootstrap.min.css';
body {
//background-color: lightgray;
}

.bg-red {
    background-color: red;
}

#header-navbar a{
    color: white;
}

h3 {
    text-align: center;
}

tr.answered .libelle{
    color: lightgray;
}

tr.answered td.mail a {
    color: lightblue;
}

#header-navbar a.nav-link.disabled {
    color: #CCCCCC;
}