{% extends "base.html.twig" %}

{% block body %}

    <h3>Liste des membres des bureaux</h3>

    <div class="alert alert-info" role="alert">
        <strong>{{ count }}</strong> {{ type }}s <br />
        <a href="{{ path('person_import') }}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Mettre à jour</a>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-sm table-hover">
                <tbody>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.title }} </td>
                        <td> {{ person.lastName|upper }} {{ person.firstName }} </td>
                        <td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}